[Unit]
Description=index.js - making your environment variables rad
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User=aduser
ExecStart="/home/aduser/ircommand/cloud/run_express.sh" 
Restart=on-failure

[Install]
WantedBy=multi-user.target
