
<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="loading$ | async">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <mat-form-field>
        <input matInput
               placeholder="name"
               formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="icon Url"
               formControlName="iconUrl">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="IR signal in LearnIR format"
               formControlName="signal" [(ngModel)]="rawIRSignal" 
               readonly
               >
      </mat-form-field>

      <mat-card-content>
          <p>
              I/O Message: {{IRSignalIOMessage}}
          </p>
      </mat-card-content>

      <div *ngIf="learnIRs$ | async as learnIRs">
         <mat-form-field>
           <mat-select placeholder="Select LearnIR Device Location" 
                       formControlName="learnIRId" 
                       (selectionChange)="onSelectChangedLearnIR($event)" >
             <mat-option *ngFor="let learnIR of learnIRs" [value]="learnIR.address" >{{ learnIR.location }}</mat-option>
           </mat-select>
           <mat-hint>LearnIR device used to capture IR signal</mat-hint>
         </mat-form-field>
      </div>

      <br>
      <mat-form-field>
          <input matInput
                 type="number"
                 placeholder="Sequence Number"
                 formControlName="seqNo">
      </mat-form-field>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!form?.valid || (this.loading$ | async)"
          (click)="onSave()">
    Save
  </button>
  <button class="bottom-toolbar" mat-raised-button color="accent"
          [disabled]="!selectedLearnIRAddress"
          (click)="captureIRSignal()">Capture IR Signal</button>
  <button class="bottom-toolbar" mat-raised-button color="accent"
          [disabled]="!rawIRSignal || !selectedLearnIRAddress"
          (click)="sendIRSignal()">Send IR Signal</button>

</mat-dialog-actions>




