<div class="header">
    <button class="menu-button" mat-icon-button (click)="this.toggleSidenav()">
       <mat-icon>menu</mat-icon>
    </button>
</div>

<mat-card class="login-page">

    <mat-card-title>Login</mat-card-title>

    <div *ngIf="env.localOnly; else notlocal">

       <nav>
           <p><a routerLink="/signup">...or Sign Up</a></p>
       </nav>

       <router-outlet></router-outlet>
       <mat-card-content>
           <form [formGroup]="form" class="login-form">

               <mat-form-field>
                   <input matInput type="email"
                          placeholder="Email"
                          formControlName="email">
               </mat-form-field>

               <mat-form-field>
                   <input matInput type="password"
                          placeholder="Password"
                          formControlName="password">
               </mat-form-field>

               <button mat-raised-button color="primary"
                       (click)="login()"
                       [disabled]="!form.valid">Login</button>


           </form>
       </mat-card-content>
    </div>

    <ng-template #notlocal>
       <mat-dialog-actions>
       
          <button mat-raised-button (click)="loginAuth0()">
          Login Auth0
          </button>
          <button mat-raised-button (click)="logoutAuth0()" *ngIf="auth0.isAuthenticated$ | async">

          Logout Auth0 
          </button>
       </mat-dialog-actions>
    </ng-template>

</mat-card>
