

<mat-card *ngFor="let RemoteDash of RemoteDashes" class="remote-dash-card mat-elevation-z10">

    <mat-card-header>

        <mat-card-title>{{RemoteDash.location}}</mat-card-title>

    </mat-card-header>

    <img mat-card-image [src]="RemoteDash.iconUrl">

    <mat-card-content>
        <p>{{RemoteDash.name}}</p>
    </mat-card-content>

    <mat-card-actions class="remote-dash-actions">

        <button mat-raised-button color="primary" [routerLink]="['/RemoteDashes', RemoteDash.id]">
            VIEW
        </button>

      <button mat-mini-fab color="accent">
        <mat-icon class="add-remote-dash-btn" (click)="editRemoteDash(RemoteDash)">edit</mat-icon>
      </button>

      <button mat-mini-fab color="warn">
        <mat-icon class="add-remote-dash-btn" (click)="onDeleteRemoteDash(RemoteDash)">delete</mat-icon>
      </button>

    </mat-card-actions>

</mat-card>
