
<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="loading$ | async">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <!--
      <mat-form-field>
         <input matInput
                type="number" required
                formControlName="userId">
      </mat-form-field>
      -->

      <mat-form-field>

        <input matInput
               placeholder="LearnIR Location"
               formControlName="location">

      </mat-form-field>

        <mat-form-field>

          <input matInput
                 placeholder="LearnIR Address"
                 formControlName="address">

        </mat-form-field>

      <mat-form-field>

          <input matInput
                 type="number"
                 placeholder="Sequence Number"
                 formControlName="seqNo">

        </mat-form-field>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!form?.valid || (this.loading$ | async)"
          (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>




