

<mat-card *ngFor="let learnIR of learnIRs" class="learn-ir-card mat-elevation-z10">

    <mat-card-header>

        <mat-card-title>{{learnIR.location}}</mat-card-title>

    </mat-card-header>

    <mat-card-content>
        <p>{{learnIR.address}}</p>
    </mat-card-content>

    <mat-card-actions class="learn-ir-actions">

        <button mat-raised-button color="primary" [routerLink]="['/learnIRs', learnIR.id]">
            VIEW
        </button>

      <button mat-mini-fab color="accent">
        <mat-icon class="add-learn-ir-btn" (click)="editLearnIR(learnIR)">edit</mat-icon>
      </button>

      <button mat-mini-fab color="warn">
        <mat-icon class="add-learn-ir-btn" (click)="onDeleteLearnIR(learnIR)">delete</mat-icon>
      </button>

    </mat-card-actions>

</mat-card>
