
<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="loading$ | async">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <mat-form-field>
        <input matInput
               placeholder="name"
               formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="icon Url"
               formControlName="iconUrl">
      </mat-form-field>

      <mat-form-field>
        <input matInput
               placeholder="layout"
               formControlName="layout">
      </mat-form-field>

      <div *ngIf="learnIRs$ | async as learnIRs">
         <mat-form-field>
           <mat-select placeholder="Select LearnIR Device" formControlName="learnIRId" >
             <mat-option *ngFor="let learnIR of learnIRs" [value]="learnIR.id" >{{ learnIR.location }}</mat-option>
           </mat-select>
         </mat-form-field>
      </div>

      <mat-form-field>
          <input matInput
                 type="number"
                 placeholder="Sequence Number"
                 formControlName="seqNo">
        </mat-form-field>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!form?.valid || (this.loading$ | async)"
          (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>




